extends layouts/default

block header
  title= 'Pasteling'

block main
  h1= title

  - if(error !== undefined)
      h2= 'Errors'
      ul
        - each err in error
            li= err

  form(method="post", action="/")
    textarea(name="text" id="editor")

    div.left.inline
      input(type="text", name="key" placeholder="key")

    div.right.inline
      select#langSelector(name="lang")
        - each lang in langs
            - if(lang.name == 'Plain Text')
                option(value="#{lang.mode}" selected)= lang.name
            - else
                option(value="#{lang.mode}"         )= lang.name

      select#tabSizeSelector
        option(value="2"          )= '2'
        option(value="4" selected )= '4'
        option(value="8"          )= '8'

    div.clear

    div.center
      input(type="submit", value="Send")
