extends layouts/default

block header
  - if(paste.id !== undefined)
      title= paste.id + ' | Pasteling'
  - else
      title= 'Pasteling'

block main
  h1.center= paste.id
  
  textarea(name="text" id="editor" data-lang="#{paste.lang.mode}")= JSON.stringify(paste.data)

  i.right= paste.moment(paste.createdAt).lang('en').fromNow()