extends layouts/default

block header
  - if(paste.id !== undefined)
      title= paste.id
  - else
      title= 'Pasteling'

block main
  - if(error !== undefined)
      ul
        - each err in error
            li= err
  - else
      h1.center= paste.id
      textarea(name="text" id="editor")= paste.text

      a(href="/api/read/" + paste.id + "/" + key, target="_blank")= 'Raw'
      i.right= paste.moment(paste.createdAt).lang('en').fromNow()